PORT=3000
MONGO_URI=
SESSION_SECRET=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
FRONTEND_URL=http://localhost:5173

COMPANY_NAME=
COMPANY_LOGO_URL=
COMPANY_TAGLINE=
COMPANY_ADDRESS_LINE1=
COMPANY_ADDRESS_LINE2=
COMPANY_ADDRESS_STATE=
COMPANY_ADDRESS_PINCODE=
COMPANY_GST=
COMPANY_PAN=
COMPANY_BANK_ACCOUNT_NO=
COMPANY_BANK_IFSC=
COMPANY_BANK_NAME=
COMPANY_BANK_BRANCH=
COMPANY_UPI_ID=
COMPANY_PHONE=
COMPANY_EMAIL=
COMPANY_WEBSITE=
COMPANY_PRIMARY_COLOR=#000000
COMPANY_INVOICE_PREFIX=IN
COMPANY_INVOICE_DISCLAIMER=
